.[ci]  # install current directory
absl-py
furo
ipython>=8.8.0  # 8.7.0 has ipython3 lexer error
jupyter-sphinx>=0.3.2

matplotlib
myst-nb
numpy
optax
scikit-learn
sphinx>=5
sphinx-autodoc-typehints
sphinx-book-theme>=1.0.1  # Older versions fail to pin pydata-sphinx-theme
sphinx-copybutton>=0.5.0
sphinx-design
sphinx-remove-toctrees
